@model AppointmentMaker.Models.AppointmentModel

<div>
    <h4>AppointmentModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.patientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patientNetWorth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patientNetWorth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.painLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.painLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctorName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
